%section#top
  .row
    %div(style="margin:0 10%;")
      =image_tag("about/logo.png", alt:'THE TOURNAMENT')
      %div.mb-30
        %small= t('.subtitle')
      %p
        =link_to root_path, class: 'btn btn-danger btn-lg' do
          = t('.try_service')

%section#about
  %h1.hide About
  .row
    %div.col-lg-4
      =image_tag("about/about_1.png")
      %h2= t('.about_title_1_html')
      %p= t('.about_text_1_html')
    %div.col-lg-4
      =image_tag("about/about_2.png")
      %h2= t('.about_title_2_html')
      %p= t('.about_text_2_html')
    %div.col-lg-4
      =image_tag("about/about_3.png")
      %h2= t('.about_title_3_html')
      %p= t('.about_text_3_html')

%section#examples
  %h1
    %span Examples
  %p.text-center
    %small.visible-md.visible-lg
      試合結果にマウスオーバーすると、詳細情報が表示されます。
    %small.visible-xs.visible-sm
      試合結果をタップすると、詳細情報が表示されます。
  .row
    .col-lg-1
    .col-lg-5#tournament
    .col-lg-5
      %h2
        = link_to(tournament_path(@tournament)) do
          = @tournament.title
          %small @#{@tournament.place}
      %p= @tournament.detail
      = link_to sanitize("<i class='fa fa-angle-double-right'></i>")+' この大会の詳細をみる', tournament_path(@tournament), class: 'btn btn-primary'
    .col-lg-1


%section#feature
  %h1
    %span Feature
  %p.mb-30
    = t('.feature_text_html')
  .row
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_1')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_2')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_3')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_4')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_5')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_6')

    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_7')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_8')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_9')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2
          %span.label.label-warning NEW!
          = t('.feature_10')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_11')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_12')

    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_13')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_14')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_15')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_16')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_17')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2 　


%section#plan
  %h1
    %span Plan/Price
  .container
    .row.text-center
      .col-lg-4
        .panel.panel-danger
          .panel-heading
            %small= t('.plan_1_text')
          %ul.list-group
            %li.list-group-item
              = image_tag('about/price_1.png')
              %h2.text-danger FREE
            %li.list-group-item
              %small= t('.plan_price')
              %strong= t('.free')
            %li.list-group-item
              %small= t('.plan_storage')
              %strong
                10
                %small (※)
            %li.list-group-item
              %small= t('.plan_size')
              %strong= "32#{t('.plan_player_count')}"
            %li.list-group-item
              =link_to root_path, class: 'btn btn-danger' do
                = t('.plan_1_action')
      .col-lg-4
        .panel.panel-default
          .panel-heading
            %small= t('.plan_2_text')
          %ul.list-group
            %li.list-group-item
              = image_tag('about/price_2.png')
              %h2 BASIC
            %li.list-group-item
              %small= t('.plan_price')
              %strong 500円
            %li.list-group-item
              %small= t('.plan_storage')
              %strong ∞（無制限）
            %li.list-group-item
              %small= t('.plan_size')
              %strong 128名
            %li.list-group-item
              =link_to @shop_url, target: '_blank', class: 'btn btn-primary' do
                = t('.plan_2_action')
              %br
              %small ※外部の購入ページに遷移します
      .col-lg-4
        .panel.panel-default
          .panel-heading
            %small= t('.plan_3_text')
          %ul.list-group
            %li.list-group-item
              = image_tag('about/price_3.png')
              %h2 PREMIUM
            %li.list-group-item
              %small= t('.plan_price')
              %strong --
            %li.list-group-item
              %small= t('.plan_storage')
              %strong --
            %li.list-group-item
              %small= t('.plan_size')
              %strong --
            %li.list-group-item
              =link_to '#', target: '_blank', class: 'btn btn-primary' do
                = t('.plan_3_action')
    %div.mb-30.text-center
      %p
        ※無料で作成可能なトーナメント数を増やすオプションもあります。
        %br
        詳しくは「
        %a(href="/gift")
          無料のトーナメント作成数を増やす
        」のページをご確認ください。
    %div.text-center

%section#faq.text-center
  %h1
    %span FAQ
  %p.mb-30
    = t('.faq_text')
  %div
    =link_to t('contact'), 'http://goo.gl/forms/xqvYet0AAsQUalI52', target: '_blank', class: 'btn btn-primary'
