%section#top
  =image_tag("top-logo.png", alt:'THE TOURNAMENT')
  %div.mb-30
    %small= t('.subtitle')
  %p
    =link_to t('.try_service'), root_path, class: 'btn btn-danger btn-lg'

%section#about
  %h1.hide About
  .row
    %div.col-lg-4
      =image_tag("icon-1.png")
      %h2= t('.about_title_1_html')
      %p= t('.about_text_1_html')
    %div.col-lg-4
      =image_tag("icon-2.png")
      %h2= t('.about_title_2_html')
      %p= t('.about_text_2_html')
    %div.col-lg-4
      =image_tag("icon-3.png")
      %h2= t('.about_title_3_html')
      %p= t('.about_text_3_html')

%section#examples
  %h1
    %span Examples
  .row
    .col-lg-1
    .col-lg-5#tournament-sample
    .col-lg-5
      %h2
        = link_to(tournament_path(1)) do
          AFC U-22選手権
          %small @オマーン
      %p
        AFC U-22アジアカップ（英: AFC U-22 Asian Cup）は、アジアサッカー連盟（AFC）が主催する、22歳以下のナショナルチームによるサッカーの大陸選手権大会である。 この大会は2年に1回開催され、第1回大会は2014年1月11日から1月26日（予選は2012年）に開催された。また2015年の第2回大会は、2016年のオリンピックにおける男子サッカーのアジア予選を兼ねる予定である。
      = link_to sanitize("<i class='fa fa-angle-double-right'></i>")+' この大会の詳細をみる', tournament_path(1), class: 'btn btn-primary'



%section#feature
  %h1
    %span Feature
  %p.mb-30
    = t('.feature_text_html')
  .row
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_1')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_2')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_3')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_4')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_5')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2= t('.feature_6')

    .col-lg-2.col-sm-4
      .thumbnail
        %h2
          %span.label.label-warning NEW!
          = t('.feature_7')
    .col-lg-2.col-sm-4
      .thumbnail
        %h2
          %span.label.label-warning NEW!
          = t('.feature_8')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_9')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_10')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_11')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_12')

    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_13')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_14')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_15')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_16')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2= t('.feature_17')
    .col-lg-2.col-sm-4.tbd
      .thumbnail
        %h2 　


%section#plan
  %h1
    %span Plan/Price
  .container
    %div.mb-30.text-center
      %p
        現在はベータ版のためFREEプランのみ提供しています。<br>
        有料プランに興味のある方はお問い合わせいただければ優先的にご案内します。
      %p
        = link_to t('.try_service'), root_path, class: 'btn btn-danger btn-lg'
    .row.text-center
      .col-lg-4
        .panel.panel-default
          .panel-heading 
            %span.label.label-warning ｵｽｽﾒ!
            %small 無料でもしっかり使えるお得なプラン
          %ul.list-group
            %li.list-group-item
              = image_tag('about/price_1.png')
              %h2.text-danger FREE
            %li.list-group-item 
              %small 月額利用料：
              %strong 無料
            %li.list-group-item
              %small 保存可能トーナメント数：
              %strong 3
            %li.list-group-item 
              %small 大会の最大参加者数：
              %strong 16名
      .col-lg-4
        .panel.panel-default
          .panel-heading 
            %small より高度な機能をお手軽価格で
          %ul.list-group
            %li.list-group-item
              = image_tag('about/price_2.png')
              %h2.text-danger BASIC
            %li.list-group-item 
              %small 月額利用料：
              %strong --
            %li.list-group-item
              %small 保存可能トーナメント数：
              %strong --
            %li.list-group-item 
              %small 大会の最大参加者数：
              %strong --
      .col-lg-4
        .panel.panel-default
          .panel-heading 
            %small 自社システム統合・カスタマイズが必要なら
          %ul.list-group
            %li.list-group-item
              = image_tag('about/price_3.png')
              %h2.text-danger PREMIUM
            %li.list-group-item 
              %small 月額利用料：
              %strong --
            %li.list-group-item
              %small 保存可能トーナメント数：
              %strong --
            %li.list-group-item 
              %small 大会の最大参加者数：
              %strong --
    %div.text-center

%section#faq
  %h1
    %span FAQ
  %p.text-center
    = t('.faq_text')
    %br
    info[at]notsobad.jp
/
  %ul.list-group
    %li.list-group-item これはどういうサービスなんですか？
    %li.list-group-item THE TOURAMENTは、トーナメント形式の大会を簡単に管理し、きれいなトーナメント表を作成することができるサービスです。

    %li.list-group-item これはどういうサービスなんですか？
    %li.list-group-item THE TOURAMENTは、トーナメント形式の大会を簡単に管理し、きれいなトーナメント表を作成することができるサービスです。



