%section#top-banner.hidden-xs.hidden-sm
  = image_tag("index-top.png", class: "img-responsive img-rounded")

%section.well.text-center
  - if current_user
    - if current_user.creatable?
      = link_to fa_icon("plus")+t('.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg'
      %small
        = t('.need_login')
    - else
      = link_to fa_icon("plus")+t('.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg', disabled: :disabled
      %small
        = t('layouts.sidebar.too_many_tournaments')
  - else
    = link_to fa_icon("plus")+t('.create_tournament'), new_user_registration_path, class: 'btn btn-danger btn-block btn-lg'
    %small
      = t('.need_login')

%section
  %h1.headline
    = fa_icon('star')
    Pickup!
  %div
    %iframe(src='http://the-tournament.jp/ja/embed/tournaments/464' seamless frameborder='0' width='100%' height='1200')

%section
  %h1.headline
    = fa_icon('rss')
    = t '.new_tournaments'
  .list-group
    - @tournaments.each do |tournament|
      =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix', data:{no_turbolink:true} do
        - if tournament.created_at > 3.days.ago
          %span.label.label-warning New!
        %span.list-group-item-heading
          = tournament.title
          -# %i.fa.fa-angle-right.pull-right
          = fa_icon("angle-right", "pull-right")
        %small (#{tournament.created_at.strftime("%Y.%m.%d")})
    = link_to fa_icon("angle-double-right")+t('.show_more'), tournaments_path, class: "pull-right"
