%section
  = image_tag("index-top.png", class: "img-responsive img-rounded")

%section
  %h1.headline
    -# %i.fa.fa-bell
    = fa_icon('star')
    = t '.new_tournaments'
  .list-group
    - @tournaments.each do |tournament|
      =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix', data:{no_turbolink:true} do
        - if tournament.created_at > 3.days.ago
          %span.label.label-warning New!
        %span.list-group-item-heading
          = tournament.title
          -# %i.fa.fa-angle-right.pull-right
          = fa_icon("angle-right", "pull-right")
        %small (#{tournament.created_at.strftime("%Y.%m.%d")})
    = link_to fa_icon("angle-double-right")+t('.show_more'), tournaments_path, class: "pull-right"
