= content_for :page_title, "HOME"

%section#top-banner.hidden-xs.hidden-sm
  = image_tag("top.png", class: "img-responsive img-rounded")

%section.well.text-center
  //PC版
  %div.visible-md.visible-lg
    - if current_user
      - if current_user.creatable?
        = link_to t('.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block'
      - else
        = link_to t('.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block', disabled: :disabled
        %small
          = t('layouts.sidebar.too_many_tournaments')
          %br
          = link_to "（#{t('layouts.sidebar.get_free_tournaments')}）", '/gift'
    - else
      = link_to t('.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block'
      %small= t('layouts.sidebar.need_signin_or_signup_html', signin_link: link_to(t('signin'), new_user_session_path), signup_link: link_to(t('signup'), new_user_registration_path))
  //SP版
  %div.visible-xs.visible-sm
    - if current_user
      - if current_user.creatable?
        = link_to t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block'
      - else
        = link_to t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block', disabled: :disabled
        %small
          = t('layouts.sidebar.too_many_tournaments')
          %br
          = link_to "（#{t('layouts.sidebar.get_free_tournaments')}）", '/gift'
    - else
      = link_to t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block'
      %small= t('layouts.sidebar.need_signin_or_signup_html', signin_link: link_to(t('signin'), new_user_session_path), signup_link: link_to(t('signup'), new_user_registration_path))

- if current_user
  %section
    %h1.headline
      = fa_icon('list')
      あなたが作成したトーナメント
    .list-group
      - @user_tnmts.each do |tournament|
        =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix', data:{no_turbolink:true} do
          %span.list-group-item-heading
            = tournament.title
            = fa_icon("angle-right", "pull-right")
          %small (#{tournament.created_at.strftime("%Y.%m.%d")})
      = link_to fa_icon("angle-double-right")+t('.show_more'), user_path(current_user), class: "pull-right"

%section
  %h1.headline
    = fa_icon('bullhorn')
    = t '.new_tournaments'
  .list-group
    - @tournaments.each do |tournament|
      =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix', data:{no_turbolink:true} do
        - if tournament.created_at > 3.days.ago
          %span.label.label-warning New!
        %span.list-group-item-heading
          = tournament.title
          = fa_icon("angle-right", "pull-right")
        %small (#{tournament.created_at.strftime("%Y.%m.%d")})
    = link_to fa_icon("angle-double-right")+t('.show_more'), tournaments_path, class: "pull-right"

%section
  %h1.headline
    = fa_icon('refresh')
    = t '.wip_tournaments'
  .list-group
    - @unfinished_tnmts.each do |tournament|
      =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix', data:{no_turbolink:true} do
        %span.list-group-item-heading
          = tournament.title
          = fa_icon("angle-right", "pull-right")
          %small (#{tournament.created_at.strftime("%Y.%m.%d")})
        %span.label.label-default= t('.wip')
    = link_to fa_icon("angle-double-right")+t('.show_more'), tournaments_path, class: "pull-right"
