= simple_form_for @user, html: {class: 'form-horizontal'} do |f|
  = f.input :email, disabled: true
  = f.input :name, label: '名前'
  = f.input :url, label: '公式サイト'
  = f.input :facebook_url, label: 'FacebookページのURL', placeholder: 'https://www.facebook.com/xxxxx/'
  = f.input :profile, label: 'プロフィール', input_html: { rows: 10 }, placeholder: '<h1>団体・ユーザーの紹介文です。</h1>　HTMLタグを使って、<a href="http://xxx">公式サイト</a>へのリンクを設置したり、画像<img src="xxxx">を表示したりできます。'

  .col-sm-offset-2
    = f.input :email_subscription, as: :boolean, inline_label: t("simple_form.inline_labels.user.email_subscription"), label: false

  .form-group
    .col-sm-6.col-sm-offset-2
      = f.button :submit, class: 'btn-danger'
  .form-group
    .col-sm-6.col-sm-offset-2
      =link_to t('cancel'), user_path(@user)
