= content_for :page_title, t('.mypage')
= render partial: "shared/back_to_home"

%section
  %h1.title= t('.mypage')

  %section
    %h1.headline
      = fa_icon("user")
      = t '.account'
    %div
      %div
        %p= profile_img(@user)
        - if @user == current_user
          %p= @user.email
          %p= link_to t("edit"), edit_user_path(@user), class: 'btn btn-primary'

  %section
    %h1.headline
      = fa_icon("bell")
      = t '.created_tournaments'

    - if @tournaments.present?
      %div.panel.panel-default
        .list-group
          - @tournaments.each do |tournament|
            =link_to tournament_path(tournament), class: 'list-group-item clearfix', data:{no_turbolink:true} do
              %span.list-group-item-heading
                = tournament.title
                = fa_icon("angle-right", "pull-right")
              %small (#{tournament.created_at.strftime("%Y.%m.%d")})
          -# = link_to sanitize("<i class='fa fa-angle-double-right'></i> ")+ t('.show_more'), tournaments_path, class: "pull-right"
    - else
      %p= t(".no_tournament_yet")
