= simple_form_for @tournament.becomes(Tournament), html: {class: 'form-horizontal'} do |f|
  - f.object = @tournament.becomes(@tournament.class)
  - disabled =  (@tournament.new_record?) ? false : true

  = f.input :title, label: '大会名'
  = f.input :detail, label: '概要', placeholder: '大会の概要、詳細な説明など'
  = f.input :place, label: '開催地'
  = f.input :url, label: 'URL', placeholder: '大会の公式URLなど'
  = f.input :size, label: '参加者数', collection: Array[4,8,16], disabled: disabled

  = f.input :consolation_round, label: '３位決定戦', inline_label: '３位決定戦を実施する', as: :boolean

  - type = {'シングルイリミネーション (敗者復活なし)'=>'SingleElimination', 'ダブルイリミネーション (敗者復活あり)'=>'DoubleElimination'}
  = f.input :type, label: '敗者復活戦', collection: type, input_html: {default:'SingleElimination'}, disabled: disabled
  -# = f.input :secondary_final, label: '再決勝', inline_label: '再決勝を実施する(敗者側が1戦目を勝利した場合)', as: :boolean, disabled: true
  = f.input :tag_list, label: 'タグ'

  .form-group
    .col-sm-6.col-sm-offset-2
      = f.button :submit, class: 'btn-danger'
  - if @tournament.persisted?
    .form-group
      .col-sm-6.col-sm-offset-2
        =link_to '大会を削除する', tournament_path(@tournament), confirm: '大会データを削除します。本当によろしいですか？', method: :delete
