= simple_form_for @tournament.becomes(Tournament), html: {class: 'form-horizontal'} do |f|
  - f.object = @tournament.becomes(@tournament.class)
  - disabled =  (@tournament.new_record?) ? false : true

  = f.input :title
  = f.input :size, collection: Array[4,8,16,32], disabled: disabled
  = f.input :detail
  = f.input :place
  = f.input :url
  = f.input :tag_list
  = f.input :consolation_round, inline_label: t('simple_form.inline_labels.tournament.consolation_round'), as: :boolean
  = f.input :scoreless, inline_label: t('simple_form.inline_labels.tournament.scoreless'), as: :boolean
  = f.input :type, collection: [:SingleElimination, :DoubleElimination], input_html: {default: :SingleElimination}, as: :hidden
  -# = f.input :secondary_final, label: '再決勝', inline_label: '再決勝を実施する(敗者側が1戦目を勝利した場合)', as: :boolean, disabled: true

  .form-group
    .col-sm-6.col-sm-offset-2
      = f.button :submit, class: 'btn-danger'

  - if @tournament.persisted?
    .form-group
      .col-sm-6.col-sm-offset-2
        =link_to t('tournaments.delete_tournament'), tournament_path(@tournament), data: {confirm: '大会データを削除します。本当によろしいですか？'}, method: :delete
