= content_for :page_title, "#{@tournament.title} #{t('tournament_menu.basic_info')}"
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, active:4}

%section
  %h1.headline
    %i.icon.icon-cog
    = t('tournament_menu.basic_info')
  = render :partial => "form"
