- keyword = params[:q] || params[:tag] || params[:category] || "すべて"
= content_for :page_title, "#{keyword}のトーナメント一覧"
= content_for :canonical, tournaments_url

%div
  %ol.breadcrumb
    %li
      =link_to 'HOME', root_path
    %li
      =link_to t('tournament_info.all_tournaments'), tournaments_path
    - if params[:category].present?
      %li= link_to params[:category], tournaments_path(category: params[:category])
    - elsif params[:tag].present?
      %li= link_to params[:tag], tournaments_path(tag: params[:tag])

%section
  %h1.title.clearfix= t('.search_tournament')

%section
  %h1.headline
    = fa_icon("search")
    = t('.keyword_search_result', q: keyword)
  .list-group
    - if @tournaments.blank?
      .list-group-item No Tournament was found for "#{params[:q]}".
    - @tournaments.each do |tournament|
      =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix', data:{no_turbolink:true} do
        - if tournament.created_at > 3.days.ago
          %span.label.label-warning New!
        %span.list-group-item-heading
          = tournament.title
          = fa_icon("angle-right", "pull-right")
          %small (#{tournament.created_at.strftime("%Y.%m.%d")})
    = paginate @tournaments
