= content_for :canonical, tournaments_url

%div
  %ol.breadcrumb
    %li
      =link_to 'HOME', root_path
    %li
      =link_to t('tournament_info.all_tournaments'), tournaments_path
    - if params[:category].present?
      %li= link_to params[:category], tournaments_path(category: params[:category])
    - elsif params[:tag].present?
      %li= link_to params[:tag], tournaments_path(tag: params[:tag])

%section
  %h1.title.clearfix= t('.search_tournament')

%section
  %h1.headline
    - if params[:q].present?
      %i.icon.icon-search
      = t('.keyword_search_result', q: params[:q])
    - elsif params[:tag].present?
      %i.icon.icon-tags
      = t('.tag_search_result', tag: params[:tag])
    - elsif params[:category].present?
      %i.icon.icon-folder-close
      = t('.category_search_result', category: params[:category])
    - else
      %i.icon.icon-bell-alt
      = t('tournament_info.all_tournaments')
  .list-group
    - if @tournaments.blank?
      .list-group-item No Tournament was found for "#{params[:q]}".
    - @tournaments.each do |tournament|
      =link_to tournament_path(tournament), class: 'list-group-item clearfix', data:{no_turbolink:true} do
        - if tournament.created_at > 3.days.ago
          %span.label.label-warning New!
        %span.list-group-item-heading
          = tournament.title
          %i.icon.icon-angle-right.pull-right
          %small (#{tournament.created_at.strftime("%Y.%m.%d")})
    = paginate @tournaments
