= content_for :page_title, t(".create_new_tournament")
= render partial: "shared/back_to_home"

%section
  %h1.title.clearfix
    = t('.create_new_tournament')

%section
  -# PC版
  .visible-md.visible-lg
    = link_to "#", class: "btn btn-primary btn-lg" do
      %h4 1
      基本情報の登録
    = fa_icon("arrow-right")
    = link_to "#", class: "btn btn-default btn-lg disabled" do
      %h4 2
      参加者の登録
    = fa_icon("arrow-right")
    = link_to "#", class: "btn btn-default btn-lg disabled" do
      %h4 3
      試合結果の登録
  -# SP版
  .visible-xs.visible-sm
    = link_to "#", class: "btn btn-primary btn-block" do
      %h5 1. 基本情報の登録
    = link_to "#", class: "btn btn-default btn-block" do
      %h5 2.参加者の登録
    = link_to "#", class: "btn btn-default btn-block" do
      %h5 3. 試合結果の登録
%hr

%section
  %h1.headline
    = fa_icon("info-circle")
    = t('tournament_menu.basic_info')
  = render :partial => "form"
