= content_for :page_title, t(".create_new_tournament")
= render partial: "shared/back_to_home"

%section
  %h1.title.clearfix
    = t('.create_new_tournament')

%section
  %h1.headline
    = fa_icon("cog")
    = t('tournament_menu.basic_info')
  = render :partial => "form"
