= content_for :page_title, "#{@tournament.encoded_title}の写真アルバム"
= content_for :keywords, @tournament.encoded_title
= content_for :description, "#{@tournament.encoded_title}のアルバムです。#{@tournament.detail}"

- editable = @tournament.user==current_user || current_user.try(:admin?)
= render partial: "shared/tournament_info", locals: {tournament:@tournament, editable: editable}
= render partial: "shared/tournament_menu", locals: {tournament:@tournament, active:4}

%section
  %h1.headline
    = fa_icon("picture-o")
    フォトアルバム

  - if @tournament.facebook_album_id
    .album-container
    %small
      = link_to "https://www.facebook.com/media/set/?set=a.#{@tournament.facebook_album_id}", target: '_blank' do
        すべての写真を見る
        = fa_icon 'external-link'
  - else
    .well
      Facebookで作成したアルバムと紐付けることで、ここに写真を表示することができます。
      詳しくは
      = link_to 'こちら', 'http://blog.the-tournament.jp/entry/album', target: '_blank'
      をご覧ください。
