%section
  %ol.breadcrumb
    %li
      %a(href="#") Home
    %li
      %a(href="#") スポーツ
    %li
      %a(href="#") サッカー
    %li
      %a.active(href="#") 第14回全国高校サッカー選手権大会

%section#show
  %h1.clearfix
    =@tournament.title
    %small @#{@tournament.place}
    .btn-group.pull-right.btn-group-sm
      %button.btn.btn-primary(type="button") 編集
      %button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown")
        %span.caret
      %ul.dropdown-menu(role="menu")
        %li=link_to '基本情報の編集', edit_tournament_path
        %li=link_to '参加者情報の編集', tournament_players_path(@tournament)
        %li=link_to '試合結果の編集', tournament_games_path(@tournament)

  %ul.list-inline
    %li
      %span.label.label-warning サッカー
    %li
      %span.label.label-warning 高校
    %li
      %span.label.label-warning スポーツ
    %li
      %span.label.label-warning 滋賀県
  %p
    =@tournament.desc


%section
  %h1.headline
    %i.icon.icon-trophy
    トーナメント表
  .clearfix
    #tournament.col-lg-12

%section
  %h1.headline
    %i.icon.icon-list-alt
    対戦表

  - @tournament.round_num.downto(1) do |i|
    - if i == @tournament.round_num
      .panel.panel-danger
        .panel-heading 決勝ラウンド
        %div.list-group
          - @tournament.games.where(round: i).each do |game|
            %a.clearfix.list-group-item(href="#")
              - if game.match == 1
                決勝：
              - else
                ３位決定戦：

              - if game.game_records.present?
                #{game.game_records.first.player.name} - #{game.game_records.last.player.name}
              - else
                (TBD)
    - else
      .panel.panel-default
        .panel-heading #{i}回戦
        %div.list-group
          - @tournament.games.where(round: i).each do |game|
            %a.clearfix.list-group-item(href="#")
              第#{game.match}試合：
              - if game.game_records.present?
                #{game.game_records.first.player.name} - #{game.game_records.last.player.name}
              - else
                (TBD)


%section
  %h1.headline
    %i.icon.icon-group
    メンバー表
  %div.list-group
    - @tournament.players.order(seed: :asc).each do |player|
      %a.list-group-item(href="#")
        = player.name

