= content_for :page_title, @tournament.title
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, active:1}

%section
  %h1.headline
    = fa_icon("trophy")
    = t('.tournament_bracket')
  .row.mb-30
    #tournament.col-lg-12

  %ul.list-inline
    %li.download-btn
      %a#download_btn.btn.btn-sm.btn-default(href="#" download="#{@tournament.title.gsub(' ','-')}" data-loading-text="#{t('.download_preparing')}")
        = fa_icon("download")
        = t('.download_image')
    %li#like-button
      .fb-like(data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false")
    %li
      %a(href="https://twitter.com/share" class="twitter-share-button" data-text="#{@tournament.title}のトーナメント | #{t('site_description')}" data-hashtags="the-tournament") Tweet
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  %br
  %div
    %p
      = fa_icon("link")
      埋め込み用HTMLタグ　
    - value = "<iframe src='"+ embed_tournament_url(@tournament) +"' seamless frameborder='0' width='100%' height='"+ (embed_height(@tournament.size).to_s) +"'></iframe>"
    %input(type="text" size="100%" value="#{value}" onfocus="this.select();" readonly)

