= content_for :page_title, "#{@tournament.encoded_title}のトーナメント表"
= content_for :keywords, @tournament.encoded_title
= content_for :description, "#{@tournament.encoded_title}のトーナメント表です。#{@tournament.detail}"
= content_for :canonical, url_for(locale:nil, only_path:false) + "/#{@tournament.encoded_title}"

- editable = @tournament.user==current_user || current_user.try(:admin?)
= render partial: "shared/tournament_info", locals: {tournament:@tournament, editable: editable}
= render partial: "shared/tournament_menu", locals: {tournament:@tournament, active:1}

%section
  %h1.headline
    = fa_icon("trophy")
    = t('.tournament_bracket')
  .row.mb-30
    #tournament.col-lg-12

  %ul.list-inline
    %li
      %span
        %script(type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411")
        %script(type="text/javascript")
          new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a"});
    %li#like-button
      .fb-like(data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-href="#{tournament_url(@tournament)}")
    %li
      %a(href="https://twitter.com/share" class="twitter-share-button" data-text="#{@tournament.title}のトーナメント | #{t('site_description')}" data-hashtags="the_tournament" data-url="#{tournament_url(@tournament)}") Tweet
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  %br
  - if editable
    .row.hidden-xs.hidden-sm.mb-30
      .col-lg-12
        - embed_content = "<div style='position:relative!important;width:100%!important;max-width:100%!important;margin-bottom:50px!important;overflow:auto !important;-webkit-overflow-scrolling:touch !important;'><iframe src='#{@tournament.embed_url}' seamless frameborder='0' width='100%' height='#{embed_height(@tournament.size).to_s}'></iframe><div style='margin-top:-15px!important;text-align:right!important;'><small>powered by <a href='https://the-tournament.jp/about' target='_blank' style='color:#333;'>THE TOURNAMENT</a></small></div></div>"
        %h5
          = fa_icon("code")
          埋め込み用タグ　
        %div#emb-link
          %input(type="text" size="100%" value="#{embed_content}" onfocus="this.select();" readonly)
        %br
      - if current_user && (current_user.id == 835 || current_user.admin?)
        .col-lg-12
          - embed_img_content = "<iframe src='#{@tournament.embed_img_url}' seamless frameborder='0' width='100%' height='1000px'></iframe>";
          %h5
            = fa_icon("photo")
            画像埋め込みタグ　
          %div
            %input(type="text" style="width:100%;" value="#{embed_img_content}" onfocus="this.select();" readonly)
          %br
          %a#download_btn.btn.btn-default(href="#" target="_blank")
            = fa_icon("download")
            画像ダウンロード

  .row
    %script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    %ins(class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-7840479109197513" data-ad-slot="2598442183" data-ad-format="auto")
    %script
      (adsbygoogle = window.adsbygoogle || []).push({});
