= content_for :page_title, @tournament.title
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, active:1}

%section
  %h1.headline
    = fa_icon("trophy")
    = t('.tournament_bracket')
    -# SP版: ボタングループでメニュー表示
    = render partial: "shared/sp_tournament_menu", locals: {tournament:@tournament}
  .row.mb-30
    #tournament.col-lg-12

  %ul.list-inline
    %li
      %span
        %script(type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411")
        %script(type="text/javascript")
          new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a"});
    %li#like-button
      .fb-like(data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-href="#{tournament_url(@tournament)}")
    %li
      %a(href="https://twitter.com/share" class="twitter-share-button" data-text="#{@tournament.title}のトーナメント | #{t('site_description')}" data-hashtags="the_tournament" data-url="#{tournament_url(@tournament)}") Tweet
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  %br
  .row.hidden-xs.hidden-sm
    .col-lg-12
      - embed_content = "<div style='position: relative!;width:100% !important;max-width:100% !important;overflow:auto !important;-webkit-overflow-scrolling:touch !important;'><iframe src='"+ embed_tournament_url(@tournament) +"' seamless frameborder='0' width='100%' height='"+ (embed_height(@tournament.size).to_s) +"'></iframe></div>"
      %h5
        = fa_icon("link")
        埋め込み用HTMLタグ　
        %button.btn.btn-link#clipboard(style="color:#333;padding:0;" data-toggle="tooltip" data-placement="top" title="クリップボードにタグをコピーします" data-clipboard-text="#{embed_content}")
          = fa_icon("clipboard")
      %div#emb-link
        %input(type="text" size="100%" value="#{embed_content}" onfocus="this.select();" readonly)

#modal-tutorial.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          トーナメント作成ありがとうございます！
      .modal-body
        %p
          ありがとうございます！トーナメント完成まであと一歩です。
          %br
          このあとは「参加者登録」「試合結果登録」へと進んで下さい。
        %p
          初めてのトーナメント表を最後まで完成させると、
          %br
          %span.text-danger トーナメント作成数を無料で１枠増加
          させることができます。
          %br
          %a(href="/gift" target="_blank") （詳細はこちら）
        %p
          ぜひトーナメントを完成させてみてください！
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
