= simple_form_for @tournament, html: {class: 'form-horizontal'} do |f|
  .panel.panel-default
    %table.table
      %tr
        %th 参加番号
        %th 名前
        %th 国
        %th 所属
      = f.simple_fields_for :players, f.object.players.order(:seed) do |r|
        %tr
          = r.input :seed, as: :hidden
          %td
            %p.form-control-static= r.object.seed
          - if editable
            %td= r.input :name, label: false
            %td= r.input :country, label: false, as: :select, collection: Country.all.map{|c| c[1]}, label_method: lambda {|country| Country[country].name}
            %td= r.input :group, label: false
          - else
            %td
              %p.form-control-static= r.object.name
            %td.f16
              - if r.object.country.present?
                %p.form-control-static.flag{class:r.object.country.downcase}= Country[r.object.country].try(:name)
            %td
              %p.form-control-static= r.object.group
  - if editable
    = f.button :submit, class: 'btn-danger'

