%div
  %ol.breadcrumb
    %li
      =link_to 'HOME', root_path
    %li
      =link_to t('tournament_info.all_tournaments'), tournaments_path
    - if tournament.category.present?
      %li= link_to tournament.category.category_name, tournaments_path(category: tournament.category.category_name)
      %li= link_to tournament.category.tag_name, tournaments_path(tag: tournament.category.tag_name)
    - else
      %li= link_to t('tournament_info.others'), tournaments_path(category: 'others')
    %li
      =link_to tournament.title, tournament_path(tournament)

%section
  %h1.title.clearfix
    =tournament.title
    - if tournament.place.present?
      %small @#{tournament.place}
    %small.pull-right= tournament.created_at.strftime("%Y.%m.%d")

  %ul.list-inline
    - tournament.tag_list.each do |tag|
      %li
        = link_to tournaments_path(tag: tag), class:'no-underline' do
          %span.label.label-warning= tag
  %p= tournament.detail
  - if tournament.url.present?
    %p= link_to "#{tournament.url} <i class='fa fa-external-link'></i>".html_safe, tournament.url, target:'_blank'

%ul.nav.nav-tabs.mb-30
  %li{class: (active==1) ? 'active' : ''}
    =link_to t('tournament_menu.tournament_bracket'), pretty_tournament_path(tournament, tournament.encoded_title), data:{no_turbolink:true}
  %li{class: (active==2) ? 'active' : ''}
    =link_to t('tournament_menu.games'), tournament_games_path(tournament)
  %li{class: (active==3) ? 'active' : ''}
    =link_to t('tournament_menu.players'), tournament_players_path(tournament)
  - if tournament.user == current_user
    %li{class: (active==4) ? 'active' : ''}
      =link_to t('tournament_menu.basic_info'), edit_tournament_path(tournament)
