%div
  %ol.breadcrumb
    %li
      =link_to 'HOME', root_path
    %li
      =link_to t('tournament_info.all_tournaments'), tournaments_path
    - if tournament.category.present?
      %li= link_to tournament.category.category_name, tournaments_path(category: tournament.category.category_name)
      %li= link_to tournament.category.tag_name, tournaments_path(tag: tournament.category.tag_name)
    - else
      %li= link_to t('tournament_info.others'), tournaments_path(category: 'others')
    %li
      =link_to tournament.title, tournament_path(tournament)

%section
  %h1.title.clearfix
    = link_to tournament.title, pretty_tournament_path(tournament, tournament.title), data:{no_turbolink:true}
    %small.pull-right= tournament.created_at.strftime("%Y.%m.%d")
  - if tournament.place.present?
    %small @#{tournament.place}
  %ul.list-inline
    - tournament.tag_list.each do |tag|
      %li
        = link_to tournaments_path(tag: tag), class:'no-underline' do
          %span.label.label-warning= tag
  %p= tournament.detail
  - if tournament.url.present?
    %p= link_to "#{tournament.url} <i class='fa fa-external-link'></i>".html_safe, tournament.url, target:'_blank'

-# 所有者のみ編集ボタン表示
- if editable
  %section.well.text-center
    = link_to fa_icon("edit")+'トーナメント更新', edit_tournament_path(tournament), class: "btn btn-danger btn-block btn-lg center-block"
    %small トーナメント情報の編集・参加者の登録・試合結果の登録はこちらから可能です。

%hr
