%section
  - btn_1_class = (step==1) ? 'btn-primary' : 'btn-default'
  - btn_2_class = (step==2) ? 'btn-primary' : 'btn-default'
  - btn_3_class = (step==3) ? 'btn-primary' : 'btn-default'

  -# PC版
  .visible-md.visible-lg
    = link_to edit_tournament_path(tournament), class: "btn #{btn_1_class} btn-lg" do
      %h4 Step.1
      基本情報の登録
    = fa_icon("arrow-right")
    = link_to tournament_edit_players_path(tournament), class: "btn #{btn_2_class} btn-lg" do
      %h4 Step.2
      参加者の登録
    = fa_icon("arrow-right")
    = link_to tournament_edit_games_path(tournament), class: "btn #{btn_3_class} btn-lg" do
      %h4 Step.3
      試合結果の登録
  -# SP版
  .visible-xs.visible-sm.text-center
    = link_to edit_tournament_path(tournament), class: "btn #{btn_1_class} btn-block" do
      %h5 基本情報の登録
    = fa_icon("caret-down")
    = link_to tournament_edit_players_path(tournament), class: "btn #{btn_2_class} btn-block" do
      %h5 参加者の登録
    = fa_icon("caret-down")
    = link_to tournament_edit_games_path(tournament), class: "btn #{btn_3_class} btn-block" do
      %h5 試合結果の登録
%hr
