= simple_form_for @game.becomes(Game) do |f|
  - f.object = @game.becomes(@game.class)
  - scoreless = (@game.tournament.scoreless?) ? 'hidden' : ''
  .row{class: scoreless}
    .col-lg-1.col-lg-push-5.text-center.visible-lg
      - 5.times do
        %br
      %i.fa.fa-minus
    = f.simple_fields_for :game_records, f.object.game_records.order(:record_num) do |r|
      - offset = 'col-lg-pull-1' if r.object.record_num == 1
      .col-lg-5.text-center{class: offset}
        - panel = (r.object.winner == true) ? 'panel-warning' : 'panel-default'
        .panel{class: panel}
          .panel-heading
            - if @game.finished?
              - icon = (r.object.winner == true) ? 'fa-trophy' : 'fa-times'
              %i.fa.fa-2x{class: icon}
            - else
              %i.fa.fa-2x
            %br
            %h4
              = r.object.player.name
              %small
                - if r.object.player.group.present?
                  (#{r.object.player.group})
                - else
                  \(--)
          %ul.list-group
            %li.list-group-item.clearfix
              -# %div.clearfix= r.input :score, label:false, input_html:{value: r.object.score || 0, class: 'input-lg'}
              %br
              %div.clearfix
                .form-group.game_game_records_score.integer.required
                  .form-group
                    - record_id = r.object.record_num - 1
                    = r.input_field :score, value: r.object.score || 0, class: 'input-lg text-right', id: "game_game_records_attributes_#{record_id}_score", name: "game[game_records_attributes][#{record_id}][score]", min: 0
            = r.association :player, as: :hidden
            = r.input :winner, as: :hidden

  %div.mb-30
    - if @game.tournament.scoreless?
      %small= t('games.winner_select_scoreless')
    - else
      %small= t('games.winner_select_samescore')

    .row
      .col-xs-6
        %select#winner-select.form-control(disabled)
          %option(value="0") --
          - @game.game_records.each do |r|
            %option(value="#{r.record_num}")= r.player.name

  %div.mb-30
    %small コメント(オプション)
    .row
      = f.input :comment, label: false, hint: "24文字まで。トーナメント表マウスオーバー時に表示されます"

  .form-group
    = f.button :submit, class: 'btn-danger'
  .form-group
    = link_to t('cancel'), tournament_games_path(@game.tournament)
