- if tournament.de?
  %h2 Final Bracket
  - panel = "panel-danger"
  .panel{class: panel}
    .panel-heading= tournament.round_name(bracket:3, round:1)
    %table#game-list.table.f16
      - tournament.games.where(bracket:3, round:1).each do |game|
        - unless (!tournament.consolation_round) && (game.match==2)
          %tr
            %td.width-10= game.match_name
            - if game.ready?
              %td.width-30.text-right
                - if game.game_records.first.player.country.present?
                  - country = game.game_records.first.player.country.downcase
                  %div.flag-container
                    %div.flag{class: country}
                  = game.game_records.first.player.name
                - else
                  #{game.game_records.first.player.name}
              %td.width-8.text-right.text-danger
                - if game.finished? && !game.bye
                  #{game.game_records.first.score}
              %td.width-4.text-center -
              %td.width-8.text-danger
                - if game.finished? && !game.bye
                  #{game.game_records.second.score}
              %td.width-30
                - if game.game_records.second.player.country.present?
                  - country = game.game_records.second.player.country.downcase
                  %div.flag-container
                    %div.flag{class: country}
                  = game.game_records.second.player.name
                - else
                  #{game.game_records.second.player.name}
            - else
              %td.width-30.text-right (TBD)
              %td.width-8
              %td.width-4.text-center -
              %td.width-8
              %td.width-30 (TBD)
            %td.width-10.text-right
              - if editable && game.ready? && !game.bye
                = link_to t('edit'), edit_game_path(game), class: 'btn btn-primary btn-sm pull-right'


- if tournament.de?
  %h2 Winners Bracket
- tournament.round_num.downto(1) do |i|
  - panel = (i==tournament.round_num) ? "panel-warning" : "panel-default"
  .panel{class: panel}
    .panel-heading= tournament.round_name(bracket:1, round:i)
    %table#game-list.table.f16
      - tournament.games.where(bracket:1, round: i).each do |game|
        - unless (!tournament.consolation_round) && (i==tournament.round_num && game.match==2)
          %tr
            %td.width-10= game.match_name

            -# First Player
            - if game.ready?
              - if game.finished?
                - text_color =(game.winner == game.game_records.first.player) ? 'text-danger' : 'text-muted'
              - else
                - text_color = ''
              %td.width-30.text-right{class: text_color}
                %div.flag-container
                  - if game.game_records.first.player.country.present?
                    - country = game.game_records.first.player.country.downcase
                    %div.flag{class: country}
                = game.game_records.first.player.name
              %td.width-8.text-right
                - if game.finished? && !game.bye && !tournament.scoreless?
                  #{game.game_records.first.score}

              %td.width-4.text-center -

              -# Second Player
              %td.width-8
                - if game.finished? && !game.bye && !tournament.scoreless?
                  #{game.game_records.second.score}
              - if game.finished?
                - text_color =(game.winner == game.game_records.second.player) ? 'text-danger' : 'text-muted'
              - else
                - text_color = ''
              %td.width-30{class: text_color}
                %div.flag-container
                  - if game.game_records.second.player.country.present?
                    - country = game.game_records.second.player.country.downcase
                    %div.flag{class: country}
                = game.game_records.second.player.name
            - else
              %td.width-30.text-right (TBD)
              %td.width-8
              %td.width-4.text-center -
              %td.width-8
              %td.width-30 (TBD)
            %td.width-10.text-right
              - if editable && game.ready? && !game.bye
                = link_to t('edit'), edit_game_path(game), class: 'btn btn-primary btn-sm pull-right'


- if tournament.de?
  %h2 Losers Bracket
  - tournament.loser_round_num.downto(1) do |i|
    - panel = (i==tournament.loser_round_num) ? "panel-warning" : "panel-default"
    .panel{class: panel}
      .panel-heading= tournament.round_name(bracket:2, round:i)
      %table#game-list.table.f16
        - tournament.games.where(bracket:2, round: i).each do |game|
          - unless (!tournament.consolation_round) && (i==tournament.round_num && game.match==2)
            %tr
              %td.width-10= game.match_name
              - if game.ready?
                %td.width-30.text-right
                  - if game.game_records.first.player.country.present?
                    - country = game.game_records.first.player.country.downcase
                    %div.flag-container
                      %div.flag{class: country}
                    = game.game_records.first.player.name
                  - else
                    #{game.game_records.first.player.name}
                %td.width-8.text-right.text-danger
                  - if game.finished? && !game.bye
                    #{game.game_records.first.score}
                %td.width-4.text-center -
                %td.width-8.text-danger
                  - if game.finished? && !game.bye
                    #{game.game_records.second.score}
                %td.width-30
                  - if game.game_records.second.player.country.present?
                    - country = game.game_records.second.player.country.downcase
                    %div.flag-container
                      %div.flag{class: country}
                    = game.game_records.second.player.name
                  - else
                    #{game.game_records.second.player.name}
              - else
                %td.width-30.text-right (TBD)
                %td.width-8
                %td.width-4.text-center -
                %td.width-8
                %td.width-30 (TBD)
              %td.width-10.text-right
                - if editable && game.ready? && !game.bye
                  = link_to t('edit'), edit_game_path(game), class: 'btn btn-primary btn-sm pull-right'
