= content_for :page_title, "#{@game.tournament.title}ã®#{@game.tournament.round_name(round:@game.round)} #{@game.match_name}"
= content_for :keywords, @game.tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@game.tournament, active:2}

%section#game-edit
  %h1.headline
    %i.icon.icon-list-alt
    #{@game.tournament.round_name(round:@game.round)} #{@game.match_name}
  = render :partial => "form"
