= content_for :page_title, "#{@tournament.title} #{t('tournament_menu.games')}"
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, editable: false}
= render partial: "shared/tournament_navi", locals: {tournament:@tournament, step:3}

%section
  %h1.headline
    = fa_icon("list-alt")
    = t('tournament_menu.games')

  - editable = (current_user == @tournament.user) ? true : false
  - if @tournament.de?
    = render partial: "game_list", locals: {tournament: @tournament, editable: editable, bracket: 3}
    = render partial: "game_list", locals: {tournament: @tournament, editable: editable, bracket: 1}
    = render partial: "game_list", locals: {tournament: @tournament, editable: editable, bracket: 2}
  - else
    = render partial: "game_list", locals: {tournament: @tournament, editable: editable, bracket: 1}
