= content_for :page_title, "#{@tournament.title} #{t('tournament_menu.games')}"
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, active:2}

%section
  %h1.headline
    = fa_icon("list-alt")
    = t('tournament_menu.games')
  -# %div.mb-30
  -#   %ul.nav.nav-pills
  -#     %li.active
  -#       %a(href="#") Winner Bracket
  -#     %li
  -#       %a(href="#") Loser Bracket

  - editable = (current_user == @tournament.user) ? true : false
  - if @tournament.de?
    = render partial: "finals_list", locals: {tournament: @tournament, editable: editable}
    = render partial: "winners_list", locals: {tournament: @tournament, editable: editable}
    = render partial: "losers_list", locals: {tournament: @tournament, editable: editable}
  - else
    = render partial: "winners_list", locals: {tournament: @tournament, editable: editable}

