= content_for :page_title, "#{@tournament.title}の対戦表"
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, active:2}

%section
  %h1.headline
    %i.icon.icon-list-alt
    対戦表
  -# %div.mb-30
  -#   %ul.nav.nav-pills
  -#     %li.active
  -#       %a(href="#") Winner Bracket
  -#     %li
  -#       %a(href="#") Loser Bracket

  - editable = (current_user == @tournament.user) ? true : false
  = render partial: "shared/game_list", locals: {tournament: @tournament, editable: editable}

