= simple_form_for @player, html: {class: 'form-horizontal'} do |f|
  .form-group
    %label.col-sm-2.control-label= t('member_list.number')
    .col-sm-6
      %p.form-control-static= f.object.seed
  = f.input :seed, as: :hidden
  = f.input :name, label: t('member_list.name')
  = f.input :country, label: t('players.country'), iso_codes: true

  .form-group
    .col-sm-6.col-sm-offset-2
      = f.button :submit, class: 'btn-danger'
  .form-group
    .col-sm-6.col-sm-offset-2
      =link_to t('cancel'), tournament_players_path(@player.tournament)
