= content_for :page_title, "#{@tournament.title} #{t('tournament_menu.players')}"
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, editable: false}
= render partial: "shared/tournament_navi", locals: {tournament:@tournament, step:2}

%section#member-list
  %h1.headline
    = fa_icon("users")
    = t('tournament_menu.players')

  = simple_form_for @tournament.becomes(Tournament), html: {class: 'form-horizontal'} do |f|
    - f.object = @tournament.becomes(@tournament.class)

    %ul.nav.nav-tabs(role='tablist')
      %li.active(role='presentation')
        %a(href="#normal" aria-controls="home" role="tab" data-toggle="tab") 通常入力
      %li(role='presentation')
        %a(href="#special" aria-controls="home" role="tab" data-toggle="tab")
          %span.label.label-warning New!
          まとめてテキスト入力

    .tab-content
      / 通常入力
      #normal.tab-pane.active(role='tabpanel')
        %br
        .alert.alert-info.alert-dismissable(role="alert")
          %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            %span(aria-hidden="true") ×
          = fa_icon("info-circle")
          名前を空白にすると、対戦相手が1回戦シードになります
        %br
        .panel.panel-default
          %table#member-list.table.f16
            %tr.active
              %th.width-10= t('member_list.number')
              %th.width-60= t('member_list.name')
              %th.width-30.hidden-sm.hidden-xs
                = t('member_list.country')
                %i.fa.fa-question-circle(data-toggle='tooltip' title='国を登録すると、トーナメント表に国旗アイコンが表示されます')
            = f.simple_fields_for :players, f.object.players.order(:seed) do |r|
              %tr
                = r.input :seed, as: :hidden
                %td
                  %p.form-control-static= r.object.seed
                %td
                  = r.input :name, label: false
                %td.hidden-sm.hidden-xs
                  = r.input :country, label: false, iso_codes: true
      / 簡単テキスト入力
      #special.tab-pane(role='tabpanel')
        %br
        .alert.alert-success.alert-dismissable(role="alert")
          %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            %span(aria-hidden="true") ×
          = fa_icon("exclamation-circle")
          参加者を改行区切りで入力して、まとめて登録できる新機能です！
        .alert.alert-info.alert-dismissable(role="alert")
          %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            %span(aria-hidden="true") ×
          = fa_icon("info-circle")
          名前を空白にすると、対戦相手が1回戦シードになります
        %br
        = f.simple_fields_for :players_all do |p|
          = p.input :players, as: :text, label: false, input_html: {rows: @tournament.size+1, value: @tournament.players_list}
      %br
      = f.button :submit, class: 'btn-danger'
