= content_for :page_title, "#{@tournament.title} #{t('tournament_menu.players')}"
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, editable: false}
= render partial: "shared/tournament_navi", locals: {tournament:@tournament, step:2}

%section#member-list
  %h1.headline
    = fa_icon("users")
    = t('tournament_menu.players')
  - editable = (current_user == @tournament.user) ? true : false
  - if editable
    %strong.text-right.text-danger ※名前を空白にすると、対戦相手がシード扱いになります。
    %br
    %small.text-right.hidden-sm.hidden-xs ※国を登録するとトーナメント表に国旗アイコンが表示されます。
    %small.text-right.hidden-md.hidden-lg ※国・所属など詳細を登録したい場合は、PCから操作してください。
  = render partial: "member_list", locals: {tournament: @tournament, editable: editable}
