= content_for :page_title, "#{@player.tournament.title}の参加者情報登録"
= content_for :keywords, @player.tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@player.tournament, active:3}

%section
  %h1.headline
    %i.icon.icon-group
    = t('.edit_players')
  = render :partial => "form"
