=link_to sanitize('<i class="icon-reply"></i> ') + '大会トップへ戻る', tournament_path(@tournament), class: 'btn btn-default'

%section
  %h1.title.clearfix
    =@tournament.title
    %small @#{@tournament.place}

%section
  %h1.headline
    %i.icon.icon-group
    参加者情報の更新

  = simple_form_for @tournament, html: {class: 'form-horizontal'} do |f|
    = f.simple_fields_for :players, f.object.players.order(seed: :asc) do |p|
      = p.input :name
      -# = p.input :group

    .form-group
      .col-sm-6.col-sm-offset-2
        = f.button :submit, class: 'btn-danger'
        = link_to t('.cancel', default: t("helpers.links.cancel")), tournament_path(@tournament)

