%footer
  .text-center.well
    .container
      .row
        .col-lg-12
          %div.mb-30
            .fb-like-box(data-href="https://www.facebook.com/the.tournament.jp" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true")
  .black.text-center
    .container
      %p 
        Copyright &copy; THE TOURNAMENT  2014 All Rights Reserved.
      %ul.list-inline
        %li= link_to t('about_this_site'), "about"
        %li= link_to '開発ブログ', 'http://blog.notsobad.jp/', target: '_blank'
        %li= link_to t('terms_of_use'), "terms", target: '_blank'
        %li= link_to t('privacy_policy'), "privacy", target: '_blank'
        %li= link_to '特定商取引法に基づく表示', "tokusho", target: '_blank'
