%footer
  - if controller.action_name == 'about'
    .well.mb-0
      .container
        .row
          .col-lg-8.col-lg-offset-2
            %div
              %table.table
                - @rss.items.each do |item|
                  %tr
                    %td
                      =link_to item.link, target:'_blank' do
                        = item.title.force_encoding("utf-8")
                        %small.visible-xs= item.pubDate.strftime("%Y-%m-%d")
                    %td.text-right.hidden-xs
                      %small= item.pubDate.strftime("%Y-%m-%d")

  .black.text-center
    .container
      %p
        Copyright &copy; THE TOURNAMENT  2014 All Rights Reserved.
      %ul.list-inline
        - unless controller.action_name == 'about'
          %li= link_to t('about_this_site'), "/about", data:{no_turbolink:true}
        %li= link_to '公式ブログ', 'http://blog.the-tournament.jp/', target: '_blank'
        %li= link_to t('terms_of_use'), "/terms", target: '_blank'
        %li= link_to t('privacy_policy'), "/privacy", target: '_blank'
