= nav_bar responsive: true, brand: image_tag("logo_w.png", alt: "THE TOURNAMENT") do
  = menu_group do
    %p.navbar-text.hidden-xs.hidden-sm= t('site_description')

    / Show Acccount menu on SP view
    - if current_user
      %li
        = link_to user_path(current_user), class: 'visible-xs visible-sm' do
          = profile_img(current_user)
          = current_user.try(:email)
      = menu_item t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'visible-xs visible-sm'
      = menu_item t('signout'), destroy_user_session_path, method: :delete, class: 'visible-xs visible-sm'
    - else
      = menu_item t("layouts.sidebar.user_registration"), new_user_registration_path, class: 'visible-xs visible-sm'
      = menu_item t('signin'), new_user_session_path, class: 'visible-xs visible-sm'



  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to 'http://nanapi.jp/116254/', target: '_blank' do
        = image_tag("wakaba.png")
        = t 'layouts.application.how_to_use'
    - ja_active = en_active = ''
    - (I18n.locale == :ja) ? ja_active='active' : en_active='active'
    %li{class:ja_active}= link_to 'JP', url_for(locale: :ja)
    %li{class:en_active}= link_to 'EN', url_for(locale: :en)
