= nav_bar responsive: true, fixed: :top, brand: image_tag("logo_w.png"), brand_link: '/about' do
  = menu_group do
    = menu_item "Top", "#top"
    = menu_item "About", "#about"
    = menu_item "Examples", "#examples"
    = menu_item "Feature", "#feature"
    = menu_item "Plan/Price", "#plan"
    = menu_item "FAQ", "#faq"

  %ul.nav.navbar-nav.navbar-right
    %li
      %button.btn.btn-danger.navbar-btn#start_service
        = link_to "サービスを利用する(無料)", root_path

    - ja_active = en_active = ''
    - (I18n.locale == :ja) ? ja_active='active' : en_active='active'
    %li{class:ja_active}= link_to 'JP', url_for(locale: :ja)
    %li{class:en_active}= link_to 'EN', url_for(locale: :en)
