-# Profile
%section
  %h4
    = fa_icon("info-circle")
    最新ニュース
  - if @user.facebook_url.present?
    .fb-page(data-href="#{@user.facebook_url}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false")
      %blockquote(cite="#{@user.facebook_url}" class="fb-xfbml-parse-ignore")
        %a(href="#{@user.facebook_url}")
          = @user.name || @user.email
  - elsif current_user && @user==current_user
    .well
      %p
        FacebookページのURLを登録すると、ここにタイムラインを表示することができます。
      %p
        = link_to '編集', edit_user_path(@user), class: 'btn btn-primary', style: 'color: #fff !important;'
