-# Profile
%section.well.sidebar-nav.text-center
  - if current_user
    = link_to user_path(current_user) do
      =profile_img(current_user)
      %p
        %strong= current_user.try(:email)
        %br
        %small (#{link_to t('signout'), destroy_user_session_path, method: :delete})
    - if current_user.creatable?
      = link_to sanitize("<i class='icon icon-plus'></i> ")+ t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg'
    - else
      = link_to sanitize("<i class='icon icon-plus'></i> ")+ t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg', disabled: :disabled
      %small
        = t('layouts.sidebar.too_many_tournaments')
  - else
    %p
      = image_tag("http://www.gravatar.com/avatar/?d=mm", class: "img-circle")
    = link_to t("layouts.sidebar.user_registration"), new_user_registration_path, class: 'btn btn-danger btn-block btn-lg'
    %small (#{link_to t('signin'), new_user_session_path})
-# Search
%section
  %h4
    %i.icon.icon-search
    = t('layouts.sidebar.tournament_search')
  = form_tag('/tournaments', method: :get) do
    .input-group.well
      = text_field_tag(:q, params[:q], class:"form-control", placeholder: t('layouts.sidebar.search_placeholder'))
      %span.input-group-btn
        = submit_tag(t("layouts.sidebar.search"), class:"btn btn-default")
-# Pick Up
/
  %section
    %h4
      %i.icon.icon-star
      注目されている大会
    - popular = [3,2]
    %ul.media-list.well
      - popular.each do |i|
        - tournament = Tournament.find(i)
        %li.media
          .media-body
            %h4.media-heading
              = link_to "#{tournament.title}", tournament_path(tournament.id), data:{no_turbolink:true}
            %p= tournament.detail

-# Category
%section
  %h4
    %i.icon.icon-tags
    = t('tournaments.tags')
  .well
    - tag_cloud(Tournament.tag_counts_on(:tags, limit: 40, order: "count desc"), %w(css1 css2 css3 css4)) do |tag, css_class|
      = link_to tag.name, tournaments_path(tag: tag.name), class: css_class
