-# Profile
%section.well.sidebar-nav.text-center
  - if current_user
    %p
      = link_to user_path(current_user) do
        %strong= current_user.try(:email)
      = link_to destroy_user_session_path, method: :delete do
        %small (#{t('signout')})
    %p
      - if current_user.creatable?
        = link_to fa_icon("plus")+t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg'
      - else
        = link_to fa_icon("plus")+t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg', disabled: :disabled
        %small
          = t('layouts.sidebar.too_many_tournaments')
    %p
      トーナメント作成数:
      %strong.text-danger
        = current_user.tournaments.count
      \/
      = current_user.limit_count
    %br
    %ul.list-group.text-left
      %li.list-group-item
        %i.fa.fa-gift
        = link_to t('layouts.sidebar.get_free_tournaments'), '/gift'
      %li.list-group-item
        %i.fa.fa-list
        = link_to t('layouts.sidebar.tournaments_list'), user_path(current_user)
  - else
    = link_to fa_icon("plus")+t('layouts.sidebar.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg'
    %small= t('layouts.sidebar.need_signin_or_signup_html', signin_link: link_to(t('signin'), new_user_session_path), signup_link: link_to(t('signup'), new_user_registration_path))

-# Search
%section
  %h4
    = fa_icon("search")
    = t('layouts.sidebar.tournament_search')
  = form_tag('/tournaments', method: :get) do
    .input-group.well
      = text_field_tag(:q, params[:q], class:"form-control", placeholder: t('layouts.sidebar.search_placeholder'))
      %span.input-group-btn
        = submit_tag(t("layouts.sidebar.search"), class:"btn btn-default")

-# Category
%section
  %h4
    = fa_icon("tags")
    = t('tournaments.tags')
  .well
    - tag_cloud(Tournament.tag_counts_on(:tags, limit: 40, order: "count desc"), %w(css1 css2 css3 css4)) do |tag, css_class|
      = link_to tag.name, tournaments_path(tag: tag.name), class: css_class

-# Message Leaf
%script(type='text/javascript' src='https://www.messageleaf.jp/embed.js')
%script new MSGLF({ titleBgColor: '#4B75B9', titleFontColor: '#FFFFFF', position: 'right', gadgetTitle: 'お問い合わせ' }).changeDesign();
