!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "THE TOURNAMENT"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = include_gon
    = javascript_include_tag "application"


  %body
    = nav_bar responsive: true, brand: image_tag("logo_w.png", alt: "THE TOURNAMENT") do
      %p.navbar-text
        %span.label.label-warning NEW!
        「THE TOURNAMENT」のSuperBETA版をリリースしました！

    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
        .col-lg-3
          -# Profile
          %section.well.sidebar-nav.text-center
            - if current_user
              =profile_img(current_user)
              %p
                %strong= current_user.try(:email)
                %br
                %small (#{link_to 'ログアウト', destroy_user_session_path, method: :delete})
              = link_to sanitize("<i class='icon icon-plus'></i> ")+"大会の新規作成", new_tournament_path, class: 'btn btn-danger btn-block btn-lg'
            - else
              %p
                = image_tag("http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y", class: "img-circle")
              = link_to "ユーザー登録(無料)", new_user_registration_path, class: 'btn btn-danger btn-block btn-lg'
              %small (#{link_to 'ログイン', new_user_session_path})
          -# Search
          %section
            %h4
              %i.icon.icon-search
              大会検索
            = form_tag('/tournaments', method: :get) do
              .input-group.well
                = text_field_tag(:q, params[:q], class:"form-control", placeholder:'大会名、キーワード')
                -# %input.form-control(type="text" placeholder="大会名、キーワード")
                %span.input-group-btn
                  = submit_tag("検索", class:"btn btn-default")
          -# Category
          %section
            %h4
              %i.icon.icon-star
              注目されている大会
            - popular = [3,2]
            %ul.media-list.well
              - popular.each do |i|
                - tournament = Tournament.find(i)
                %li.media
                  .pull-left
                    =image_tag("small-#{7-i}.png")
                  .media-body
                    %h4.media-heading
                      = link_to "#{tournament.title}", tournament_path(tournament.id)
                    %p= tournament.detail
          -# Category
          /
            %section
              %h4
                %i.icon.icon-tags
                カテゴリ・キーワード
              %ul.well
                %li サッカー
                %li 高校
                %li 全国大会
                %li バスケットボール
                %li スポーツ


      %footer.text-center
        %p &copy; THE TOURNAMENT  2014 All Rights Reserved.
