!!! 5
%html(lang="#{I18n.locale}")
  %head
    = render partial: 'layouts/meta_tags'
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    = render partial: "shared/jaco"

  - is_about_page = controller.action_name=='about'
  - is_top_page = controller.action_name=='top'

  %body{id: (is_about_page) ? 'about-page' : ''}
    = google_tag_manager if Rails.env.production?

    - nav_partial = (is_about_page) ? 'navbar_about' : 'navbar'
    = render partial: "layouts/#{nav_partial}"

    - if is_about_page
      .container
        .row
          .col-lg-12
            = yield
    - else
      - if is_top_page
        #top-banner.hidden-md.hidden-lg(style="margin-top:-20px;margin-bottom:15px;")
          = image_tag("top.png", class: "img-responsive")

      .container.mb-30
        .row
          .col-md-9
            = flash[:log]
            = bootstrap_flash
            = yield
          .col-md-3.hidden-xs.hidden-sm
            = render partial: "layouts/sidebar"

    = render partial: "layouts/footer"


    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js", async: 'async'
    = include_gon
    = javascript_include_tag "application", async: 'async'
    = render partial: "shared/facebook"
